@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2287ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

.login{
    position: relative;
    left: 0px;
    margin-top: 6px;


}
.login-btn{
    color: white;
    border-radius: 2px;
    border: 1px solid white;
    background: #2287ed;
    height: 24px;
    letter-spacing: 1px;
    padding: 4px 38px;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.more{
    position: relative;
    margin-top: 11px;
}

.none{
    display: none;
}
.flex{
    display: flex;
}

.more-icon{
    color: #28dff0;
    padding: 3px;
    margin-left: 0px;
}

.more_lan{
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
} 

.pointer{
    width: 20px;
    height: 20px;
    background: black;
    position: relative;
    transform: rotate(45deg);
    top: 10px;
    left: 80%;
}

.fa-angle-down:hover{
    transform: rotate(180deg);
}

.more_dropdown,.login_dropdown{
    position: relative;
    top: 12px;
}
.login_dropdown{
    position: relative;
    top: 12px;
}

.login_dropdown_list,.more_dropdown_list{
    position: absolute;
    list-style: none;
    background-color: white;
    width: max-content;
    box-shadow: 0 4px 16px - rgb(0, 0, 0/20%);
    min-width: 240px;
    transform: translate(-30px );
}

.login_drop_li{
    padding: 16px 20px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid white ;
}

.login_drop_li .fa-solid{
    color: #2874f0;
    padding-right: 10px;

}

.login_drop_li:hover{
    background: white;
}

.login_drop_li:first-child{
    padding: 20px;
     
}



.login_drop_li:last-child{
    padding: 20px;
     
}

.login:hover .login_dropdown, .more:hover .more_dropdown{
    display: block;
}


p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

header {
    background-color: #f2f2f2;
    box-shadow: 0 0 4px #fdfeff;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 120px;
}

.nav-links ul {
    gap: 56px;
    align-items: center;
    padding-left: 35%;
    font-size: 24px;
    margin-top: 0px;
    
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    align-items: center;
    color: #89929a;
}

.news-input {
    width: 500px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #f9fcff;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--accent-color);
    color: rgba(252, 243, 243, 0.72);
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #fefefe;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}